header {
    background-color: #FFF0F5;
    border: 1px black solid;
    padding: 20px;
}
nav {
    padding: 20px;
    font-size: 1.8em;
    float: right;
}
nav a{
    text-decoration: none;
    color: #000000;
    margin:1.8em;
    display: inline-block;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    border: 1px black solid;
    padding: 20px;
    text-align:center;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div / section {
    border: 1px black solid;
    padding: 20px;
}
#two_column {
    border: 1px black solid;
    padding: 20px;
    background-image: url('images/mom-863055_1920.jpg');
    width:800;
    height:600;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    width: 40%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px; 
    width: 40%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}