header {
    background-color: #FFF0F5;
    border: 1px black solid;
    padding: 20px;
    text-align:center;
}
body{
    background-size:cover;
}
nav {
    padding: 20px;
    font-size: 1.8em;
    float: right;
}
nav a{
    text-decoration: none;
    color: #000000;
    margin:1.8em;
    display: inline-block;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    border: 1px black solid;
    padding: 20px;
    text-align:center;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div / section {
    border: 1px black solid;
    padding: 20px;
}
#two_column {
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: lightgray;
    opacity:0.5;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 40%;
    text-transform: uppercase;
}

#right {
    background-color: lightgray;
    opacity: 0.5;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 40%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}