* {box-sizing:border-box;margin: 0;padding: 0;}
header {
    background-color: #FFF0F5;
    border: 1px black solid;
    text-align:center;
    color: rgb(0,0,0);
    text-transform: uppercase;
}
body{
    background-size:cover;
    color:#333;
    font-family: "Verdana", Sans-serif;
}
nav {
    font-size: 1.8em;
    float: right;
}
nav a{
    text-decoration: none;
    color: #000000;
    padding: 1em;
    display: inline-block;
}
footer {
    padding: 20px;
    text-align: center;
}
h1 {
    float:left;
    padding: 1em;
}
#two_column {
    background: url(../images/mom-863055_1920.jpg);
    background-size:cover;
    height: 20em;
    padding: 5em 0 0;
    font-size: 1.8em;
}
#two_column a {
    background-color: rgba(211, 211, 211, 0.5);
    border: 1px solid;
    padding: 20px;
    float: left;
    width: 31.33%;
    margin: 1%;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    text-decoration: none;
}
#two_column a:hover {
    background-color: rgba(211, 211, 211, 0.8);
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
