header {
    background-color: #FFF0F5;
    border: 1px black solid;
    padding: 20px;
}
nav {
    padding: 20px;
    font-size: 1.8em
    float: right;
}
nav a{
    text-decoration: none;
    color: #000000;
    margin:1.8em;
    display: inline-block;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    border: 1px black solid;
    padding: 20px;
    text-align:center;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div / section {
    border: 1px black solid;
    padding: 20px;
}
#three_column {
    border: 1px black solid;
    padding: 20px;
    background: url(images/mom-863055_1920.jpg);
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#center{
    background-color: blue;
    border: 1px black solid;
    padding: 20px;
    margin-left: 5px;
    display: inline-block;
    width: 30%;
}
#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}