header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    float: right;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    text-align:center;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div / section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
#three_column{
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#center{
    background-color: blue;
    border: 1px black solid;
    padding: 20px;
    margin-left: 5px;
    display: inline-block;
    width: 30%;
}
#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}