@import url('https://fonts.googleapis.com/css?family=Comfortaa|Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

h1{
	text-align: center;
	font-family:'Comfortaa', cursive;
	font-weight: 54;
}

body{
  text-align: center;
  background-color: rgb(144,67,232);
  background-size: cover;
  color: #fff;
  font-family: 'Special Elite', cursive;
  font-weight: 200;
}

