@import url('https://fonts.googleapis.com/css?family=Comfortaa|Crimson+Text');

body{
  text-align: center;
  background-color: rgb(144,67,232);
  background-size: cover;
  color: #fff;
  font-family: 'Crimson Text', serif;
  font-weight: 200;
}

h1{
	text-align: center;
	font-family:'Comfortaa', cursive;
	font-weight: 54;
}
#one.one {text-aling:left;}